.cinema-header-list {
  display: flex;
  justify-content: start;
  margin-top: 20px;
  padding: 10px;
}

.cinema-header-list > div {
    padding:15px
}
.cinemaserve{
    font-size:18px
}
.movieslist-list{
  display: flex;
  justify-content: space-around;
  margin-bottom:30px
}
.this-list{
  display: flex;
  flex-direction: column;
  border: 4px solid #55636f;
}
.this-list:hover{
  /* padding:5px; */
  border: 4px solid #e8e8e9;
}
.this-list-active{
  border: 4px solid #e8e8e9;
}
.movieslist-list{
  overflow: hidden;
}

/* //时间列表 */
.firmSchedule-span{
  padding: 20px 0;

  border-bottom:1px solid  #e8e8e9

}
.firmSchedule-span span{
  margin-right:20px
}
.firmSchedule-date {
  padding: 20px 0;
}
.firmSchedule-date strong{
  font-size:16px;
  margin:0 30px
}
.firmSchedule-date strong:hover{
  border-bottom:2px solid  #e8e8e9
}
.strong-active{
  border-bottom:2px solid  #e8e8e9
}

/* table */

.ant-table{
  background-color:#212529;
}
.ant-table-thead > tr > th{
  color:#d0e0f0;
  background-color:#212529;
}

.ant-table-tbody > tr.ant-table-row:hover > td{
  background-color:#55636f;
}