.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h1,h2,h3,h4,h5,h6{
  color:#d0e0f0
}

/* 背景设置 */
.backall{

  background-color: #3d4042;

}
.container{
  background-color: #1d2124;
}


/* logo设置 */
.logo-control img{
  width: 300px;
  height: 90px;
}

/* btn-link 设置 */
.btn-link{
  color:#6c757d
}
.btn-link:hover{
  color:#000
}
/* .form-control:focus 设置 */
.form-control:focus {
  border-color: #1d2124;
  box-shadow:0 0 0 0.2rem #6c757d
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

